*.h5
*.p
data/basin_dataset_public_v1p2/*
data/dynamic_features_nwm_v2.p
data/camels_attributes_v2.0/*
jupyter_notes/.ipynb_checkpoints/*
figures_and_tables/.ipynb_checkpoints/*
z_old/*
z_trash/*
igs/*
igs_plots/*
run_output/*
slurm_out/*
papercode/*
codebase/*
jupyter_notes/*
igs_v1_with_18_bad_basins/*
__pycache__/*
run_scripts/*.slurm
*.out
*.error
runs/*
igs/*
